{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe | La Boutique d'Orlins{% endblock %}

{% block content %}
    <h1>Modifier mon mot de passe</h1>
    <hr>
    {% if notification %}
        <div class="alert alert-info">{{ notification }}</div>
    {% endif %}
    {{ form_start(form) }}
    {{ form_rest(form) }}
    <button type="submit" class="btn btn-primary btn-lg" formnovalidate>
        Mettre à jour
    </button>
    {{ form_end(form) }}
    <p>
        <a href="{{ path('account') }}">Retourner sur mon compte</a>
    </p>
{% endblock %}
